**Import Libraries**

In [23]:
import torch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

**Import Data**

In [24]:
movies_data = pd.read_csv("movies.csv")
ratings_data = pd.read_csv("ratings.csv")

**A.** Show 5 First and Last Data

In [25]:
# A
print(movies_data.head())
print(movies_data.tail())
print(ratings_data.head())
print(ratings_data.tail())

print('movies data shape: ', np.shape(movies_data))
print('ratings data shape: ', np.shape(ratings_data))

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
      movieId                                      title  \
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                               genres
9737  Action|Animation|Comedy|Fantasy
9738         Animation|Comedy|Fantasy
9739                            Drama
9740                 Action|Animation
9741                           Comedy
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415
movies data shape:  (9742, 3)
ratings data shape:  (100836, 4)

In [26]:
# A'
print([movies_data[0:5], movies_data[-5:]])
print([ratings_data[0:5], ratings_data[-5:]])

print('movies data shape: ', np.shape(movies_data))
print('ratings data shape: ', np.shape(ratings_data))

[   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy  ,       movieId                                      title  \
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                               genres
9737  Action|Animation|Comedy|Fantasy
9738         Animation|Comedy|Fantasy
9739                            Drama
9740                 Action|Animation
9741                           Comedy  ]
[   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931,         userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415]
movies data shape:  (9742, 3)
ratings data shape:  (100836, 4)

**B.** Merge Movies and Ratings Data

In [27]:
# B
merged_data = movies_data.merge(ratings_data, how = 'inner', on = 'movieId')
merged_data

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

**C.** Delete Extra Columns

In [28]:
# C
merged_data.drop('title', inplace = True, axis = 1)
merged_data.drop('genres', inplace = True, axis = 1)
merged_data.drop('timestamp', inplace = True, axis = 1)
merged_data

        movieId  userId  rating
0             1       1     4.0
1             1       5     4.0
2             1       7     4.5
3             1      15     2.5
4             1      17     4.5
...         ...     ...     ...
100831   193581     184     4.0
100832   193583     184     3.5
100833   193585     184     3.5
100834   193587     184     3.5
100835   193609     331     4.0

[100836 rows x 3 columns]

**E.1.** Normalize Users Ratins

In [29]:
# E.1
merged_data['rating'] = merged_data['rating'].transform(lambda x: (x - x.mean()) / x.std())
merged_data

        movieId  userId    rating
0             1       1  0.478109
1             1       5  0.478109
2             1       7  0.957712
3             1      15 -0.960699
4             1      17  0.957712
...         ...     ...       ...
100831   193581     184  0.478109
100832   193583     184 -0.001493
100833   193585     184 -0.001493
100834   193587     184 -0.001493
100835   193609     331  0.478109

[100836 rows x 3 columns]

**D.** Group Data with GroupBy Method

In [30]:
# D
data = merged_data.groupby('userId', sort = True)
data.first()
# merged_data.groupby('userId')['movieId'].nunique()

        movieId    rating
userId
1             1  0.478109
2           318 -0.481096
3            31 -2.879111
4            21 -0.481096
5             1  0.478109
...         ...       ...
606           1 -0.960699
607           1  0.478109
608           1 -0.960699
609           1 -0.481096
610           1  1.437315

[610 rows x 2 columns]

**E.2.** Create train_X List

In [31]:
# E.2
train_X = data['rating']
train_X = train_X.apply(pd.DataFrame)
train_X = train_X.to_numpy()

**F.** Create Neurons

In [149]:
# F
hidden_nueron_number = len(data)
visible_nueron_number = np.shape(movies_data)[0]

class Restricted_Boltzmann_Machine():
  def __init__(self, hidden_node, visible_node):
    self.weights = np.random.normal(0, 1, [hidden_node, visible_node])
    self.bias_hidden_give_visible = np.random.normal(0, 1, [1, hidden_node])
    self.bias_visible_give_hidden = np.random.normal(0, 1, [1, visible_node])
    print(np.shape(self.bias_visible_give_hidden))

  def hidden_layer(self, x):
    weights_hidden_node = np.dot(x, self.weights)
    # print(np.shape(weights_hidden_node))
    activation_function = weights_hidden_node + self.bias_visible_give_hidden*np.ones([np.shape(weights_hidden_node)[0], np.shape(weights_hidden_node)[1]])
    activation_function = torch.FloatTensor(activation_function)
    return torch.sigmoid(activation_function)

  def visible_layer(self, x):
    weights_visible_node = np.dot(x, np.transpose(self.weights))
    activation_function = weights_visible_node + self.bias_hidden_give_visible*np.ones([np.shape(weights_visible_node)[0], np.shape(weights_visible_node)[1]])
    activation_function = torch.FloatTensor(activation_function)
    return torch.sigmoid(activation_function)

  def train(self, v0, vk, ph0, phk, lr):
    self.weights += lr*(np.dot(np.transpose(v0), ph0) - np.dot(np.transpose(vk), phk))
    self.bias_hidden_give_visible += lr*(np.sum((ph0 - phk), axis = 0))
    self.bias_visible_give_hidden += lr*(np.sum((v0 - vk), axis = 0))

In [155]:
epochs = 20
batch = 100
users_number = np.shape(data)[0]
RBM = Restricted_Boltzmann_Machine(hidden_nueron_number, visible_nueron_number)

for epoch in range(1, epochs + 1):
    train_loss = 0
    s = 0.
    for id_user in range(0, users_number - batch, batch):
        vk = train_X[id_user:id_user+batch]
        # print(id_user,type(vk))
        v0 = train_X[id_user:id_user+batch]
        ph0 = RBM.hidden_layer(v0)
        for k in range(10):
            hk = RBM.hidden_layer(vk)
            # print(type(v0))
            # print(type(vk))
            # print(type(ph0))
            # print(type(hk))
            # print(k,type(vk))
            vk = RBM.visible_layer(hk)
            vk = vk.detach().numpy()
            # print(k,type(vk))
            # vk = vk.to_numpy()
            vk[v0<0] = v0[v0<0]
        vk=torch.from_numpy(vk)
        # print(type(vk))
        phk = RBM.hidden_layer(vk)
        # vk = vk.detach().numpy()
        RBM.train(v0, vk, ph0, phk, 0.001)
        train_loss += torch.mean(torch.abs(v0[v0>=0] - vk[v0>=0]))
        s += 1.
        # vk = vk.detach().numpy()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:1970: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = asarray(a).shape

(1, 9742)

TypeError: ignored

In [93]:
# Nooo
hidden_nueron_number = len(data)
visible_nueron_number = np.shape(movies_data)[0]

class Restricted_Boltzmann_Machine():
    def __init__(self, nv, nh):
        self.W = torch.randn(nh, nv)
        self.a = torch.randn(1, nh)
        self.b = torch.randn(1, nv)

    def hidden_layer(self, x):
        wx = torch.mm(x, self.W.t())
        activation = wx + self.a.expand_as(wx)
        p_h_given_v = torch.sigmoid(activation)
        return p_h_given_v

    def visible_layer(self, y):
        wy = torch.mm(y, self.W)
        activation = wy + self.b.expand_as(wy)
        p_v_given_h = torch.sigmoid(activation)
        return p_v_given_h

    def train(self, v0, vk, ph0, phk, lr):
        self.W += lr*(torch.mm(v0.t(), ph0) - torch.mm(vk.t(), phk))
        self.b += lr*(torch.sum((v0 - vk), 0))
        self.a += lr*(torch.sum((ph0 - phk), 0))

**G.** Train Neuron

In [94]:
epochs = 20
batch = 100
users_number = np.shape(data)[0]
RBM = Restricted_Boltzmann_Machine(hidden_nueron_number, visible_nueron_number)

for epoch in range(1, epochs + 1):
    train_loss = 0
    s = 0.
    for id_user in range(0, users_number - batch, batch):
        vk = train_X[id_user:id_user+batch]
        v0 = train_X[id_user:id_user+batch]
        ph0 = RBM.hidden_layer(v0)
        for k in range(10):
            hk = RBM.hidden_layer(vk)
            hk = torch.tensor(hk)
            hk=hk.float()
            vk = RBM.visible_layer(hk)
            vk = torch.tensor(vk)
            vk=vk.float()
            vk[v0<0] = v0[v0<0]
        phk = RBM.hidden_layer(vk)
        RBM.train(v0, vk, ph0, phk, 0.001)
        train_loss += torch.mean(torch.abs(v0[v0>=0] - vk[v0>=0]))
        s += 1.
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:1970: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = asarray(a).shape

TypeError: ignored